body {
	background-color: #ddd;
	color: #222;
	font-family: Helvetica, sans-serif;
}

h1 {
	font-size: 60px;
	font-weight: 100;
	text-align: center;
	/* Adding letter spacing here */
}

h2 {
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 10px;
	text-align: center;
	/* Adding letter spacing here */
}

span {
	color: #f00;
}