* {
	box-sizing: border-box;
}

body {
	background-color:#333;
}

.cover-block {
	background-color: rgba(47,155,255,0.2);
	width: 600px;
	min-height: 300px;
	margin: 20px auto;
}

h1, h2{
	font-family: "lato", sans-serif;
	font-weight: 100;
	font-size: 4em;
	line-height: 1.1em;
	padding: 30px;
	color: rgba(255,255,255,0.8);
}

h1 span {
	color: rgba(255,138,138,1);
}

h2 {
	font-size: 1em;
	text-align:left;
	word-spacing:0.2em;
}

