0header{
	background-color:#37A2B3;
	font-family:'Raleway', sans-serif;
	text-align: center; color: white;
}




nav{
	background-color:#205D66;
}
nav ul{
	overflow: hidden;
}

nav li{
	width: 156px;
	border: #fff 1px solid;
	margin-right:30px;
	float: left;
}

.navbar li{
	font-family:'Raleway', sans-serif;
	font-style: 140px; 
	display: inline;
	background-color:#205D66;
	

}

body{
	background-color: #2B4557;

}
#header{
	background-color: #3F91CC;
	height: 100px
	
}

#shortintro{
	width: 940
	height:300px;
	margin:0 auto;
	background-color:#285B80;
	text-align: center;
}
#main{
	width:1200px;
	margin:30px auto;
	padding: 40px 80px
	border:#3E637D 2px solid;
	background-color:#103166;
}
.personalphoto{
	margin: 0 auto;
	margin-bottom: 140px
	margin-right:150px;
	
	width:500px;
}
.blogphoto{
	width: 500px;
	margin:0 auto;
	margin-bottom: 240px
	margin-left:50px;
	
}
.workphoto{
	width:900;
	margin-bottom: 40px
	background-color:#285B80;
}
#footer{
	clear:both;
}
.aboutinfor{
	
	font-size:20px;
	font-family: 'Raleway', sans-serif;color: #fff
}

.grapgicdesign{
	font-family:'Raleway', sans-serif;
	font-size:20px;
}

.blog_photo{
	
	margin-top:20px;
}

.blogmain{
	position: center;
	width: 940px;
	border: #fff 1px solid;
	font-family:'Raleway', sans-serif; color: white; 
}

.blog_title{
	height: 700px;

	margin-bottom: 80px;
	font-size: 30px

	
}

.blog_intro{
	text-align: justify;
	background-color: #000;
	margin-bottom:140px;
	width:600px;
	font-size: 18px

	
}



