body {
	background-color: #eee;
}
table {
	margin: 20px auto;
	width: 80%;
	text-align: center;
}
td {
	padding: 10px;
}

.column-header {
	background-color: #000;
	color: #ccc;
	font-weight: bold;
	text-align: center;
}

.row-odd {
	background-color: #8bc3ff;
	color: #fff;
}

.row-even {
	background-color: #278fff;
	color: #fff;
}

.column-header td {
	padding: 20px 0px;
}
