nav ul {
  list-style-type: none;
  padding: 1;
  margin: 1;
  overflow: auto;
  background-color:  rgb(235, 178, 178);
}

nav li {
  float:left;
}

nav a {
  text-decoration: none;
  background-color:  rgb(235, 178, 178);
  color: white;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: white;
  color: peachpuff;
}