body {
	background: #7cc0ff;
}
header {
	width: 100%;
	height: 150px;
	background-color:#666;
	background-image:url(../img/peak.png);
	background-position:left bottom;
	background-repeat:repeat-x;
}

h1 {
	font-family: "lato", sans-serif;
	font-weight: 700;
	font-size: 4em;
	line-height: 1.1em;
	padding: 30px;
	color: rgba(255,255,255,0.8);
}


