body {
	background-color: #fff;
	font-family: "Helvetica", sans-serif;
	color: #fff;
}

.box {
	width: 150px;
	height: 150px;
	padding: 20px;
}

#box-red {
	background-color: #f00;
}

#box-black {
	position: relative;
	top: 50px;
	background-color: #222;
}
#box-blue {
	position: relative;
	top: -250px;
	left: 250px;
	background-color: #0092ff;
}
