body {
	background-color: #fff;
	font-family: "Helvetica", sans-serif;
}
table {
	margin: 0px auto;
	width: 700px;
}
td {
	width: 100px;
	height: 100px;
	border: 1px #f00000 solid;
	vertical-align: top;
	padding: 10px;
	color: #f00000;
	font-size: 14px;
}