body {
	font-family: Verdana, sans-serif;
	color: #555;
}
h1 {
	font-size: 24px;
}
p {
  font-size: 18px;
}
.small {
	line-height: 1em;
	
}
.medium {
	line-height: 2em;
}
.large	{
	line-height: 3em;
}
