.arial {
  font-family: Arial, sans-serif;
}

.arialBlack {
  font-family: "Arial Black", sans-serif;
}

.courier {
  font-family: Courier, monospace;
}

.helvetica {
  font-family: Helvetica, sans-serif;
}

.georgia {
  font-family: Georgia, sans-serif;
}

.verdana {
  font-family: Verdana, sans-serif;
}