body {
  background-color:#f0eece;
	/* Using Google fonts for the Page */
  font-family: 'Lato', sans-serif;
	margin:0 auto;
	width:50%;
}

h1 {
	
	font-size:3em;
	font-weight: 300;
	margin-top: 30px;
}

.square {
	background-color:#ff5959;
	color:#F1EAEA;
	float:left;
	font-size:6em;
	font-weight: 900;
	height:100px;
	line-height:.9em;
	margin:0px 10px 10px 0px;
	text-align:center;
	width:100px;
}

p {
	color:#666;
	font-size:1.2em;
	line-height:1.5em;
}


