* {
  box-sizing: border-box;
}

body {
	color: #444;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.container {
  margin: 100px;
}

.container h1 {
	color: #999;
	margin-bottom: 0px;
}
.container p {
	line-height: 1.5em;
	color: #555;
}

.container .poster {
  background-color: #ccc;
  border: 1px solid #333;
  width: 200px;
  margin: 20px 0;
  padding: 5px;
}

.poster img {
  display: block;
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.poster.float-left {
  margin-right: 30px;
}

.poster.float-right  {
  margin-left: 30px;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}


.box {
  float: left;
	width: 200px;
	height: 100px;
	background-color: #333;
}

.box:nth-child(2) {
  background-color: #666;
}

.box:nth-child(3) {
  background-color: #999;
}

.box:nth-child(4){
  background-color: #ccc;
}


.clearfix_overflow-auto {
  overflow: auto;
}

.clearfix_overflow-hidden {
  overflow: hidden;
}

.clearfix_persudo::after {
  clear: both;
  content: "";
  display: table;
}