p {
	font-family: Helvetica, sans-serif;
	font-size: 45px;
	margin: .05em;
	text-transform: uppercase;
}

.weight_100 {
	/* Adding font-weight here */
}

.weight_200 {
	/* Adding font-weight here */
}

.weight_300 {
	/* Adding font-weight here */
}

.weight_400 {
	/* Adding font-weight here */
}

.weight_500 {
	/* Adding font-weight here */
}

.weight_600 {
	/* Adding font-weight here */
}

.weight_700 {
	/* Adding font-weight here */
}

.weight_800 {
	/* Adding font-weight here */
}

.weight_900 {
	/* Adding font-weight here */
}