header,
nav,
main,
footer {
  background-color: white;
  border: 5px solid darkgrey;
  box-sizing: border-box;
  min-height: 200px;
  padding: 15px;
}

header, footer {
  width: 100%;
}

nav, main {
  float: left;
  height: 650px;
}

nav {
  width: 20%;
}

main {
  width: 60%;
  padding-left: 15px;
  padding-right: 15px;
}

article {
  background-color: lightgray;
  min-height: 100px;
}