header,
nav,
main,
aside,
footer {
  border: none;
  box-sizing: border-box;
  min-height: 200px;
  padding: 15px;
	margin-bottom: 0
}

header, footer {
  width: 100%;
}

nav, main, aside {
  float: left;
  height: 700px;
}

nav, aside {
  width: 20%;
}

footer a {
	color: #EDD7D7; align-content: center
}

main {
  width: 60%;
  padding-left: 20px;
  padding-right: 15px;
}

article {
  background-color: #FFFFFF;
  min-height: 100px;
}

body {
  line-height: 1.4;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  font-size: 1em;  /* Duplicate font-size  */
}  /* Make sure to have the close } */

#homepage .artwork {
    min-height: 100px;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 !important;
    background-color: #ffffff;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -ms-transition: opacity 150ms;
    transition: opacity 150ms;
}
	
#homepage .artwork {
    width: 1%;
    margin: 0 0 0 9.3%;
    padding: 162px 0 0 0;
    float: left;
} /* Make sure to have the close } */

